################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CyberSecurity ChatBot POE - ST10486811
